include pyTsetlinMachine/IndexedTsetlinMachine.h
include pyTsetlinMachine/Tools.h
include pyTsetlinMachine/ConvolutionalTsetlinMachine.h
include pyTsetlinMachine/EmbeddingConvolutionalTsetlinMachine.h
include pyTsetlinMachine/MultiClassConvolutionalTsetlinMachine.h
include pyTsetlinMachine/fast_rand.h
